# for app.py
streamlit
streamlit-extras
streamlit-chat
stqdm
openai
pandas
# polars 1.31 errored on innocent statement in bridgewebs_postmortem_streamlit.py. change following when fixed.
polars<1.31
duckdb
requests
urllib3
python-dotenv
tenacity
termcolor
streamlit-chat
beautifulsoup4
endplay
pyparse
#pyparse>=3.0.0
sqlalchemy
sqlalchemy_utils
safetensors
scikit-learn
fastai
torch
torchvision
torchaudio

# for streamlitlib
reportlab
markdown
aiohttp


# for mlBridgeLib
numpy
pathlib
scikit-learn
matplotlib
IPython
streamlit-aggrid==1.1.8.post1
seaborn

# for acbllib

# for chatlib

# for pytorch lightning


